h2{
	color: #551B74;
}

body {
    background-image: url("noey.jpg");
}

#head-id{
	color: green;
}
.head-class{
	color: yellow;
}
.box{
	width: 150px;
	height: 50px;
	border: 1px solid gray;
}
#box1{
	background: red;
}
#box2{
	background: green;
}
#box3{
	background: #56741B
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.colume {
    background-color: rgba(228, 154, 154, 0.71);
    padding: 150px;
    text-align: center;
}
.row1 {
    background-color: rgba(228, 154, 154, 0.71);
    margin-top: 15px;
    height: 250px;
    width: 50%;
    float: left;
    text-align: center;
}
.row2 {
    background-color: rgba(241, 201, 201, 0.71);
    margin-top: 15px;
    float: right;
    height: 250px;
    width: 50%;
    text-align: center;
}
.clear{
	clear: clear;
}
.low {

    background-color: red;
    bottom: -200;
    margin: 15px;
    padding: 150px;
    text-align: center;
}
